@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

html, body {
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #1a1a1a;
  scrollbar-color: #a3c7ff #1f223f;
}

#intro {
  background: #111 url("intro.webp"); no-repeat center bottom;
    background-color: #111;
    background-attachment: scroll;
    background-image: url("intro.webp");
    background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: center;
  background-position: top;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0;
    background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.intro-content
{
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

h1 {
  color: #C9DEFF;
  font-family: "Press Start 2P", sans-serif;
  font-size: 3.4rem;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 40px rgb(0, 112, 255) !important;
}

h5 {
  color: #7092ce;
  font-family: "Press Start 2P", sans-serif;
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  text-shadow: 0 0 7px rgb(0, 0, 0); 
}

.intro-content .intro-position {
  font-family: "Press Start 2P", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: rgb(150, 174, 220);
  text-shadow: 0 0 7px rgb(0, 0, 0); 
  margin: 0px;
}

.proyects {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background:black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.titulo h5 {
  padding: 60px 0;
  text-align: center;
  font-size: 30px;
  background-color: #16162a;
  background-image: url("img/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 30px rgb(170, 44, 181);
}

.proyects h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  width: 100%;
  background: #000000b5;
  padding: 25px 0;
}

.game {
  width: 100%;
  height: 500px;
  background-size: 105%;
  position: relative;
  text-align: center;
  background-position: center;
  border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
  transition: all 0.5s;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
  padding: 0px;
}

.game:hover
{
    background-size: 130%;
    transition: all 1s;
}

.descripcion {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #000000e0;
  padding: 14px 0px;
  font-size: 13px;
  letter-spacing: -1px;
  text-shadow: 0 0 10px #8b00ff;
}

a,a:visited{
    color: #8597ce;
    text-decoration: none;
}

.footer {
  width: 100%;
  background: black;
}

.contacto {
  text-align: center;
  padding: 40px 0;
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: center 40%;
}

.contacto h5
{
    font-size: 16px;
    text-shadow: 0 0 40px #5000ff;
}

.game {
  border-color: rgb(0, 0, 0) !important;
}

i{
    position: relative !important;
    top: -6px !important;
}